[submodule ".registry"]
	path = .registry
	url = https://github.com/economic/economic.r-universe.dev
	branch = HEAD
[submodule "epidatatools"]
	path = epidatatools
	url = https://github.com/economic/epidatatools
[submodule "epiextractr"]
	path = epiextractr
	url = https://github.com/economic/epiextractr
[submodule "epitargets"]
	path = epitargets
	url = https://github.com/economic/epitargets
[submodule "epitemplate"]
	path = epitemplate
	url = https://github.com/economic/epitemplate
[submodule "epiverse"]
	path = epiverse
	url = https://github.com/economic/epiverse
[submodule "prefab"]
	path = prefab
	url = https://github.com/economic/prefab
[submodule "realtalk"]
	path = realtalk
	url = https://github.com/economic/realtalk
[submodule "swadlr"]
	path = swadlr
	url = https://github.com/economic/swadlr
