[submodule ".registry"]
	path = .registry
	url = https://github.com/economic/economic.r-universe.dev
	branch = HEAD
[submodule "epidatatools"]
	path = epidatatools
	url = https://github.com/economic/epidatatools
[submodule "epiextractr"]
	path = epiextractr
	url = https://github.com/economic/epiextractr
[submodule "realtalk"]
	path = realtalk
	url = https://github.com/economic/realtalk
[submodule "swadlr"]
	path = swadlr
	url = https://github.com/economic/swadlr
